.button {
    @apply px-4 py-2 rounded-lg font-bold text-white transition duration-500 shadow hover:shadow-lg;
    &:hover {
        animation: AnimateButton 0.2s ease forwards;
    }
    &.secondary {
        @apply bg-gradient-to-r from-blue-500 to-cyan-600;
    }
    &.primary {
        @apply bg-gradient-to-r from-purple-500 to-cyan-600;
    }
    &.danger {
        @apply bg-gradient-to-r from-red-500 to-cyan-600;
    }
}

@keyframes AnimateButton {
    0%,
    100% {
        --tw-gradient-from-position: 100%;
    }
    80% {
        --tw-gradient-from-position: 90%;
    }
    60% {
        --tw-gradient-from-position: 70%;
    }
    50% {
        --tw-gradient-from-position: 60%;
    }
    30% {
        --tw-gradient-from-position: 50%;
    }
    20% {
        --tw-gradient-from-position: 35%;
    }
    10% {
        --tw-gradient-from-position: 10%;
    }
}
